package components

import (
	"github.com/matesu777/Seabian-dashboard/internal/models"
	"github.com/matesu777/Seabian-dashboard/internal/utils"
	"strings"
)

templ Top(data models.System) {
	<div
		id="top"
		hx-get="/top"
		hx-trigger="every 1s"
		hx-swap="outerhtml"
	>
		<div class="flex flex-row gap-10 font-semibold italic">
			<h1>{ strings.ToUpper(data.Hostname) }</h1>
			<h1>{ utils.FormatUptime(data.Uptime) }</h1>
		</div>
	</div>
}
