package components

import (
	"github.com/matesu777/Seabian-dashboard/internal/docker"
	"github.com/matesu777/Seabian-dashboard/internal/models"
	"github.com/matesu777/Seabian-dashboard/internal/utils"
)

templ Dashboard(data models.Response, services []docker.Service) {
	<!DOCTYPE html>
	<html lang="en">
		@head("Dashboard " + data.System.Hostname)
		<body>
			<div>
				@Clock()
				@SystemStats(data)
				@StorageStats(data)
			</div>
			<div>
				{{ localIp, tailscaleIp := utils.GetNetworkIp(data) }}
				@IpInfo(localIp)
				@IpInfo(tailscaleIp)
				@ServicesLayout(services)
			</div>
		</body>
	</html>
}

templ head(title string) {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>{ title }</title>
		<link rel="icon" href="https://www.debian.org/logos/openlogo-nd.svg"/>
		<script src="https://unpkg.com/htmx.org@2.0.6"></script>
	</head>
}
