package components

import "github.com/matesu777/Seabian-dashboard/internal/docker"

templ Service(service docker.Service) {
	<div>
		<a href="google.com">
			<strong>{ service.Name }</strong>
			<span>{ service.State }</span>
			<span>{ service.Health }</span>
		</a>
	</div>
}

templ ServicesLayout(services []docker.Service) {
	<div>
		<h2>services</h2>
		<div>
			for _, svc := range services {
				@Service(svc)
			}
		</div>
	</div>
}

func serviceColor(status string) string {
	switch status {
	case "healthy":
		return "border-green-500"
	case "warning":
		return "border-yellow-500"
	case "error":
		return "border-red-500"
	default:
		return "border-gray-500"
	}
}
