package components

import "fmt"

templ StorageStats(used float64, total float64) {
	<div>
		<h2>Storage</h2>
		<div>
			<p>
				Used: { fmt.Sprintf("%.1f GB", used) }
			</p>
			<p>
				Used: { fmt.Sprintf("%.1f GB", total) }
			</p>
			<span>progress bar</span>
		</div>
	</div>
}
