package components

import (
	"github.com/matesu777/Seabian-dashboard/models"
	"github.com/matesu777/Seabian-dashboard/utils"
)

templ SystemStats(data models.Response) {
	<div>
		<h2>System</h2>
		<div class="stats">
			<div class="circle">
				<span>CPU</span>
				<strong>{ utils.FormatUsageCPU(data.Hardware.CPU.Usage) }</strong>
			</div>
			<div class="circle">
				<span>RAM</span>
				<strong>{ utils.FormatBytes(data.Hardware.Memory.Used) }</strong>
			</div>
		</div>
	</div>
}
